<div id="modal_div" class="modal modal_div_show">
    <!-- 模态窗口 -->
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <h4 class="modal-title">

                    {{ if option == 'inf' }}
                        <div style="color:#00c0ef;">  <i class="fa fa-search"></i>查看</div>
                    {{ else if option =='add' }}
                        <div style="color:#00a65a;">  <i class="fa fa-plus"></i>添加</div>
                    {{ else if option =='edi' }}
                        <div style="color:#3c8dbc;">  <i class="fa fa-edit"></i>修改</div>
                    {{ else if option =='aud' }}
                        <div style="color:#f39c12;">  <i class="fa fa-trash-o"></i>审核</div>
                    {{ else if option =='del' }}
                        <div style="color:#dd4b39;">  <i class="fa fa-trash-o"></i>删除</div>
                    {{ else }}
                        <div style="color:#00c0ef;">  <i class="fa fa-search"></i>查看</div>
                    {{ /if }}

                </h4>
            </div>

            <div class="modal-body modal_div_dialog">
                {{ if body }}
                    {{ #body }}
                {{ else }}
                    <p>请设置页面内容</p>
                {{ /if }}
            </div>

            <div class="modal-footer">

                <button type="button" id="modal_cancel" class="btn btn-default pull-left" data-dismiss="modal">
                    取消
                </button>

                <button type="button" id="modal_submit" class="btn btn-primary">{{ sure_show }}</button>

            </div>

        </div>

    </div>

    <!-- /.modal-dialog -->
</div>