<li id="user_top" class="dropdown user user-menu">

    <!-- User Account: style can be found in dropdown.less -->

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

        {{ if avatar }}
            <img src="{{ avatar }}" class="user-image" alt="{{username}}">
        {{ else}}
            <img src="images/user2-160x160.jpg" class="user-image" alt="{{username}}">
        {{ /if }}

        <span class="hidden-xs">&nbsp;</span>

    </a>

    <ul class="dropdown-menu">

        <!-- User image -->
        <li class="user-header" style=" height:125px;text-align: left;padding: 0px;">

            <div class="pull-left image" style="clear:both;">
                {{ if avatar }}
                    <img src="{{ avatar }}" class="img-circle" alt="{{username}}" style="width:50px;height:50px;margin-left: 20px;margin-top:20px">
                {{ else }}
                    <img src="images/user2-160x160.jpg" class="img-circle" alt="{{username}}" style="width:50px;height:50px;margin-left: 20px;margin-top:20px">
                {{ /if }}
            </div>

            <div class="pull-left info" style="margin-left: 10px;margin-top: 25px">

                <span style="color:white">{{ if username }} {{ username }} {{ else }} Wormer {{ /if }}</span><br/>

                <span style="color:white">{{ if realname }} {{ realname }} {{ else }} wormer.cn {{ /if }}</span>

            </div>

            <br/>

            <div class="bottom info"  style="clear:both;color:white;margin-left: 20px;margin-top: 60px">

                公司:&nbsp;&nbsp;&nbsp; {{ if company }} {{ company }} {{ else }} XXXX 有限公司 {{ /if }}

            </div>

        </li>

        <!-- Menu Footer-->
        <li class="user-footer">

            <div class="main_person_profile" style="padding: 5px">

                <a href="#" style="font-size:12px;color:#333333 ">个人信息</a>

            </div>
            <div class="main_login_out" style="padding: 5px">

                <a href="#" style="font-size:12px;color:#333333">退出</a>

            </div>

        </li>

    </ul>

</li>